//variables
$ease: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
$font-secondary: 'usual', sans-serif;
$font-primary: 'cooper-black-std', serif;
$eskapade: 'eskapade', sans-serif;
$sabbath: 'sabbath-black', sans-serif;
$hobeaux: 'hobeaux', sans-serif;

// $media-query
//  @media (min-width: 960px) and (max-width: 1225px) {
//   height: 300px;
// }

//general
body {
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
  position: relative;
  color: white;
  background: #000;

}

ul {
  padding: 0;
  margin: 0;
}
.contact {
  li {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    display: inline;
    padding-right: 10px;
  }
}

section {
  animation-duration: 3s;
}


// additional type styles
.heading {
  font-weight: 500;
  font-size: 2.25rem;

  &-fancy {
    @extend .heading;
    font-family: $font-primary;
    font-size: 4rem;

    @media (min-width: 481px) and (max-width: 720px) {
      font-size: 3rem;
    }
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: 2rem;
    }
  }

  &-schmancy {
    @extend .heading;
    font-family: $font-primary;
    font-size: 2.75rem;
  }

  &-small {
    @extend .heading;

    font-size: 2.75rem;
  }

  &-link {   
      text-decoration: none;
      color: gray;
      background-image: none;
      background-size: 0%;
      background-repeat: no-repeat;
      transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
      
      &:hover {
        background-image: linear-gradient(45deg, #ff653b 0%, #ff255a 74%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 100%;
    }
  }
} 


// portfolio blocks
.elements {
  a {
    transition: $ease;
    text-decoration: none;
    &:hover {
      transform: scale(.9);
      @media (min-width: 320px) and (max-width: 480px) {
        transform: scale(1);
      }
      .overlay {
        opacity: 1;
      }
    }
  }
}

.element {
  color: #000;
  transition: .2s all;
  h3 {
    @media (min-width: 320px) and (max-width: 480px) {
      font-size: .8rem !important;
    }
  }
  h3, p {
    color: white;
    @media (min-width: 320px) and (max-width: 480px) {
      margin: 0;
      padding: 0;
    }
  }
  &-wrap {
    transition: $ease;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      transform: scale(.9);
      @media (min-width: 320px) and (max-width: 480px) {
        transform: scale(1);
      }
      .overlay {
        opacity: 1;
      }
    }
  }
  .text {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    @media (min-width: 320px) and (max-width: 480px) {
      position: absolute;
      text-align: left;
      left: 10px;
      transform: translateY(-50%);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: $ease;
    background-color: #151515;
    @media (min-width: 320px) and (max-width: 480px) {
      top: unset;
      opacity: 1;
      height: 25%;
    }
  }
}

// navigation
nav {
  a {
    text-decoration: none;
    color: white;
    opacity: .5;
    &:hover {
      opacity: 1;
    }
  }
  a.active {
    position: relative;
    opacity: 1;
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      background: white;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
}

.view {
  &-about {
    min-height: 720px;
  }
}



// footer
footer {

  a {
    text-decoration: none;
    color: red;
  }
}

// about 
.about {
  .headshot {

    @media (max-width: 480px) {
        height: 355px;
      }
    @media (min-width: 481px) and (max-width: 720px) {
        // margin-top: 12rem;
        height: 460px;
    }
    @media (min-width: 721px) and (max-width: 960px) {
      // margin-top: 13rem;
      height: 580px;
  }

   &-inner {
    background: url("../../images/headshot_thats-no-moon.jpg");
    height: 620px;
    background-size: cover;
    background-position: top center;
  }
  }
}

h2 a {
  text-decoration: none;

      transition: .2s all;
      &:hover {
        color: gray; 
    }
}

// randomizer
.letter {
  animation: fonty .2s linear alternate;
  line-height: 1;
}

@keyframes fonty { 
  0% { 
    font-family: $font-primary; 
    // -webkit-filter: blur(0px);}
  }
  50% { font-family: $font-secondary; }
  75% { font-family: $hobeaux; color: pink;}
  100% { 
    font-family: $sabbath; 
    // -webkit-filter: blur(5px);}
  }
}