h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 5rem;
  line-height: 1.4;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.05rem;
}
h6 {
  font-size: .7rem;
}
p {
  font-size: .8rem;
  &.small {
    font-size: .7rem;
  }
}
li {
  @extend p
}

.strong {
  font-weight: 500;
}

h1.big {
  font-size: 7rem;
}

// $media-query
 @media (min-width: 375px) and (max-width: 960px) {
   h1.big{
    font-size: 5rem;
   }
}

.heading-1 {
  font-size: 7rem;
}

@media (min-width: 375px) and (max-width: 960px) {
  .heading-1{
   font-size: 4.25rem;
   word-break: break-all;
  }
}

.heading-2 {
  font-size: 3rem;
}

@media (min-width: 375px) and (max-width: 960px) {
  .heading-2{
   font-size: 1.25rem;
   line-height: 1.5;
  }
}
